.drop-down {
  width: 292px;
  margin-top: 50px;
  margin-left: 12.5px;
}

.global-stats {
  width: 300px;
  margin-top: 50px;
  margin-left: 12.5px;
}

.countries-stats {
  width: 300px;
  margin-top: 50px;
  margin-left: 12px;
}
